body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif, Arial;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  position: relative;
}
.site-container {

  width: 1200px;
  margin: 0 auto;
  padding: 0 0;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
  }
a {
  text-decoration: none;
}

ul {
  list-style: none;
}
button {
  font: inherit;
  font-family: "PT Sans", sans-serif, Arial;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;

  text-transform: uppercase;
  border: none;
  border-radius: none;
  padding: 0;
}
input {
  font: inherit;
  font-family: "PT Sans", sans-serif, Arial;

  text-transform: uppercase;
}
.main-navigation {
  background-color: #ffffff;
  color: #000000;
}
.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}
.site-navigation a:hover {
  color: #81b3d2;
}
.site-navigation a:focus {
  color: #000000;
  opacity: 0.3;
}
.site-navigation-current a {
  color: #766357;
}
.header-img {
  text-align: center;
  margin: 0;
}
.figure img{
    background-color: #81b3d2;

}
.container-header {
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: -168px;
}
.description-title {
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 35px;
  width: 540px;
}
.description-subtitle {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-weight: normal;
  width: 540px;
  margin: 0 auto;
  margin-bottom: 55px;
}

.reason-item-title {
  color: #ffffff;
  font-size: 21px;
  line-height: 21px;

  width: 100%;
  text-align: center;
}
.reason-item-subtitle{
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.recomendation-item-title {
  color: #000000;
  font-size: 21px;
  line-height: 21px;

  text-align: center;
  margin: 0;
  padding: 0;

}
.recomendation-item-description {
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin: 0;
  padding: 25px 0px;
  text-align: center;
  width: 290px;
}
.reason-four {
  background-color: #eeeeee;
}
.reason-four span,
.reason-four p,
.reason-four h3 {
  color: #000000;
}
.search-hotel {
  text-align: center;
  background-color: #ffffff;
}
.search-hotel h3 {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
}

.form-subtitle {
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.button-form-open {
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #766357;
  width: 568px;
  height: 86px;

  }
.button-form-open:hover {
  background-color: #604e43;
}
.button-form-open:focus {
    background-color: #503e33;
    color: #857871;
}

.form-title {
  padding-top: 56px;
  margin-top: 0px;
}
.form-subtitle {
  width: 435px;

  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  margin: 0 auto;
}
.form-search {
  background-color: #ffffff;
  height: 395px;
  width: 568px;
  margin: 0 auto;
}

.label-form input[type="text"] {
  background-color: #f2f2f2;
  border: none;

/*  width: 222px;
  height: 38px; */
}
.arrival-date {
  width: 346px;
  height: 38px;
  margin-left: 16px;
}
.number-adult {
  width: 38px;
  height: 38px;
  margin-left: none;
  position: absolute; /* Для выравнивания инпута */
  padding: 0px;       /* Для выравнивания инпута */
  text-align: center; /* Для выравнивания значения по центру */
}
.number-adult-minus {
  width: 38px;
  height: 38px;
  margin-right: none;
  background-color:  #f2f2f2;
  color: #a9a9a9;
  /*  margin-left: 16px; */ /* Для выравнивания кнопки */
  margin-right: -3px; /* Для выравнивания кнопки */
}
.number-adult-plus {
  width: 38px;
  height: 38px;
  background-color:  #f2f2f2;
  color: #a9a9a9;
  margin-left: 38px;  /* Для выравнивания кнопки */
}

.button-search {
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #81b3d2;
  width: 458px;
  height: 58px;
  border: none;
  margin-top: 55px; /* Добавила отступ от верхнего края добавления детей и взрослых! */
}
.button-search:hover {
  background-color: #669ec0;
}
.button-search:focus {
  background-color: #5496bd;
}
.main-footer {
  background-color: #ffffff;
  opacity: 0.9;
  text-align: center;
  /*width: 1200px;*/
  flex: 1;
  margin: 0 auto;
}
footer {
  display: block;
}
.main-footer p {
  font-size: 21px;
  line-height: 26px;
}

.footer-social ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin: 0 auto;
}
.footer-copyright {
    font-weight: normal;
}

.footer-copyright .site-button:hover,
.footer-copyright .site-button:focus {
  color: #000000;
}

/* Внутренняя страница */
.search-hotel-inner {
  height: 217px;
}
.search-hotel-inner img {
  position: relative;
  width: 100%;
  height: 217px;
}
.form-search-hotel  {
  position: absolute;
    top: 250px;
    /*left: 0;*/
    /*width: 100%;*/
  width: 1200px;
}
.form-list-title {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.form-search-hotel label {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.form-search-hotel input[type="text"] {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;

  width: 222px;
  height: 36px;
}
.white-line button {
  background: none;
  border: none;
}
.form-search-hotel label {
  font-weight: normal;
}
.button-range-min,
.button-range-max {
  background: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-position: right bottom; /* Положение фона */
  width: 20px;
  height: 23px;
  fill: #ffb600;
  outline: none;
}

.button-show-result {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: normal;

  background-color: transparent;
  border: 2px solid #ffffff;

  width: 137px;
  height: 36px;
}
.button-show-result:hover{
  color: #000000;
  background-color: #ffffff;
}

.sort-list-title {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-right: 50px;
}
.sort-type {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}
.sort-list a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dashed #81b3d2;
}
.sort-list a:active {
  color: #81b3d2;
  border-bottom: none;
}
.sort-list a:hover {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}
.sort-list a:focus {
  color: #231f20;
  border-bottom: none;
}
.sort-list {
  display: flex;
  align-items: center;
  height: 86px;
  margin: 0 auto;
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
}
.sort button {
  background: none;
  border: none;
}


.sort-item {
  list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 40px;
    font-size: 12px;
    line-height: 18px;
}
.results-hotels p {
  font-weight: normal;
}
.results-hotels {
  display: flex;
  align-items: center;
  height: 152px;
  border-bottom: 1px solid #e5e5e5;
}
.container-price {
  display: flex;
  margin: 0;
    margin-bottom: 12px;
}
.hotel-type {
  width: 116px;
}
.hotel-name {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.block-hotel p {
  font-size: 14px;
  line-height: 21px;
}
.block-hotel h3{
  margin: 0;
}

.block-hotel {
  margin-left: 30px;
  height: 90px;
}
.hotel-name:hover {
  color: #81b3d2;
}
.hotel-name:focus {
  color: rgba(0, 0, 0, 0.3);
}
.detail {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;

  background-color: #81b3d2;
  width: 110px;
  height: 27px;
  border: none;
  text-align: center;
  margin-right: 6px;
}

.detail:hover {
  background-color: #669ec0;
}
.detail:focus {
  background-color: #5496bd;

  color: rgba(255, 255, 255, 0.3);
}

.booking {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  margin-left: -3px;
  background-color: #766357;
  width: 142px;
  height: 27px;
  border: none;
}
.booking:hover {
  background-color: #604e43;
}
.booking:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
.raiting{
  margin-left: auto;
}

.raiting-value {
  text-align: center;
	width: 110px;
	height: 27px;
	background-color: #f2f2f2;

  color: #666666;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  vertical-align: middle;
}

.results{
  background-color: white;
  /*margin-left:72px;
  margin-right: 72px;*/
  padding: 0 72px;
}
.hotel-photo{
  height: 90px;
}

.main-navigation {
  display: flex;
  align-items: center;
  height: 56px;
}

.main-header {
  /*width: 1200px;*/
  margin: 0 auto;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  order: 2;
  position: absolute;
  left: 50%;
  margin-left: -69px;
  z-index: 1;
  margin-top: 7px; /* Чтобы не уезжаел за экран  */
}
.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row; /* Исправила на ROW */
  list-style: none;
  height: 56px;
  width: 1200px;
  margin: 0;
  padding: 0;
  justify-content: space-between; /* Чтобы меню было растянуто по всему хедеру */
  align-items: center;            /* Чтобы меню было по середине */
  margin-left: 72px;              /* Отступ от левого края  */
  margin-right: 72px;             /* Отступ от правого края  */
}
.site-navigation li{
  width: 240px;
}
.site-navigation li:nth-child(3){
  text-align: right;
  margin-left: auto;
}
.site-navigation li:nth-child(4){
  text-align: right;
}

.main-navigation-wrapper {
  width: 100%;
  height: 56px;
}
/*.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 72px;
}*/
.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}
.reason-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}
.reason-item-full {
  width: 1200px;
  height: 256px;

  position: relative;
}
/*.reason-item-full img{
  position: absolute;
  left: auto;
  right: 0;
  width: 60%;
}*/
.reason-item-full h3 {
  width: 165px;
  height: 55px;

  padding-top: 49px;

}
.reason-item-full p {
  width: 281px;
  height: 50px;

  padding-bottom: 60px;
}
.reason-item-full span {
  display: block;
  width: 50px;
  height: 40px;

  padding-top: 115px;
  padding-left: 40px;
}
.reason-item {
  width: 400px;
  height: 256px;
}
.recomendation-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}
.recomendation-item {
  width: 400px;
  height: 330px;

}
/*.main-footer {
   padding: 36px 0;
  height: 120px;
  background-color: #ffffff;
  opacity: 0.9;
  position: absolute;
  z-index: 2;
  bottom: -3px;
  left: 50%;
  margin-left: -600px;
  width: 1200px;
  } */
.container-footer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.footer-social {
  width: 400px;
  padding-right: 6px;
  margin-right: 88px;
  display: flex;        /* Для того, чтобы в строку были картинки */
  flex-direction: row;  /* Для того, чтобы в строку были картинки */
}

.footer-copyright {
  margin-right: 88px;
  margin-left: auto;
  width: 240px;
}
.footer-hashtag {
  margin-right: 88px;

  width: 240px;
}
/* ----- Сеточные стили внутренняя страница ----- */
.form-search-hotel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
}
.form-search-hotel .container-infrastructure, .container-housingtype, .container-costs {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  margin-top: -189px;
}

.form-search-hotel .container-infrastructure{
  margin-left: 72px;
  width:240px;

}
.form-search-hotel .container-costs {
  display: flex;
  width: 528px;
  margin-right: 72px;
  align-items:flex-end;
}

.form-search-hotel p{
  width: 200px;
  display: block;
  padding: 0;
}
.form-search-hotel ul {
  width: 200px;
  display: block;
  padding: 0;
}
.cost-selector{
  display: flex;
  flex-direction:row;
}





/* Для выравнивания карты */
.search-hotel {
  position: relative;
  height: 926px;  /* для того, чтобы убрать в самом низу белвый отступ */
}
.form-search {
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -284px;
  top: 36.3%;
}
/* Для выравнивания ввода взрослых и детей */
#selector {
  display: flex;
  width: 458px;
  margin-left: 55px;
  justify-content: space-between;
  align-items: center;
}

/* Отступ от верхнего края ПОИСК ГОСТИНИЦЕ В СЕДОНЕ */
#label-form-top {
  margin-top: 55px;
}

/* Для выравнивания в строку социальных сетей */
.footer-social ul {
  display: flex;
}


#menu-container {
  padding: 0px;
}

.main-footer .container{
  padding: 0px;
}
.reason {
  margin-top: -8px;
}
.reason-one, .reason-two, .reason-three, .reason-four{
  display: flex;
  background: #ffffff;
}
.reason-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #81b3d2;
  width: 400px;
  height: 256px;
  color: #fff;
}
.reason-item-description{
  display: flex;
  text-align: center;
  width:300.5px;

  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.reason-img-first {
  height: 256px;
  width: 800px;
  background-color: #81b3d2;
  background-image: url(../img/layer10.jpg);
  background-repeat: no-repeat;
  background-position: 0 53%;
}
.reason-img-second {
  height: 256px;
  width: 800px;
  background-color: #81b3d2;
  background-image: url(../img/layer14.jpg);
  background-repeat: no-repeat;
  background-position: 0 53%;
}

.recomendation-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: #fff;
  padding: 162px 50px 5px 50px;
  margin: 0;
  margin-bottom: 50px;
}

.reason-four .reason-title {
  background-color: #eeeeee;
  color: #000000;
}
.recomendation-title:first-child {
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 50% 28.5%;
}
.recomendation-title:nth-child(2) {
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 50% 28.5%;
}
.recomendation-title:nth-child(3) {
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 50% 28.5%;
}
