body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", sans-serif, Arial;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;

}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}
button {
  font: inherit;
  font-family: "PT Sans", sans-serif, Arial;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;

  text-transform: uppercase;
  border: none;
  border-radius: none;
}
input {
  font: inherit;
  font-family: "PT Sans", sans-serif, Arial;

  text-transform: uppercase;
}
.main-navigation {
  background-color: #ffffff;
  color: #000000;
}
.site-navigation {
  list-style: none;
}
.site-navigation a {
  color: #000000;
}
.site-navigation a:hover {
  color: #81b3d2;
}
.site-navigation a:focus {
  color: #000000;
  opacity: 0.3;
}
.site-navigation-current a {
  color: #766357;
}
.header-img {

  text-align: center;
  position: relative;
  margin: 0;
}

.description-title {
  font-size: 21px;
  line-height: 26px;

  position: absolute;
  top: 624px;
  left: 0;
  margin-left: 395px;

  width: 470px;
  padding-bottom: 35px;
}
.description-subtitle {
  color: #333333;
  font-weight: normal;

  position: absolute;
  top: 702px;
  width: 100%;
}

.reason-item,
.reason-item-full,
.recomendation-item {
  text-align: center;
}
.reason-item-full {
  background-color: #81b3d2;
}
.reason-item-full h3 {
  color: #ffffff;
  font-size: 21px;
  line-height: 21px;
}
.reason-item-full span{
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}
.reason-item-full p {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}
.reason-item {
  background-color: #eeeeee;
}
.reason-item h3 {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
}
.reason-item span{
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}
.reason-item p {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;

}
.recomendation-item {
  background-color: #ffffff;

}
.recomendation-item h3 {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
}
.recomendation-item p {
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}
.search-hotel {
  text-align: center;
  background-color: #ffffff;
}
.search-hotel h3 {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
}

.form-subtitle {
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.button-form-open {
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #766357;
  width: 568px;
  height: 86px;

  }
.button-form-open:hover {
  background-color: #604e43;
}
.button-form-open:focus {
    background-color: #503e33;
    color: #857871;
}

.form-title {
  padding-top: 56px;
  margin-top: 100px;
}
.form-subtitle {
  width: 435px;

  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  margin: 0 auto;
}
.form-search {
  background-color: #ffffff;
  height: 395px;
  width: 568px;
  margin: 0 auto;
}

.label-form input[type="text"] {
  background-color: #f2f2f2;
  border: none;

/*  width: 222px;
  height: 38px; */
}
.arrival-date {
  width: 346px;
  height: 38px;
  margin-left: 16px;
}
.number-adult {
  width: 38px;
  height: 38px;
  margin-left: none;

}
.number-adult-minus {
  width: 38px;
  height: 38px;
  margin-right: none;

  background-color:  #f2f2f2;
  color: #a9a9a9;
  margin-left: 16px;

}
.number-adult-plus {
  width: 38px;
  height: 38px;

  background-color:  #f2f2f2;
  color: #a9a9a9;
}

.button-search {
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #81b3d2;
  width: 458px;
  height: 58px;
  border: none;
}
.button-search:hover {
  background-color: #669ec0;
}
.button-search:focus {
  background-color: #5496bd;
}
.main-footer {
  background-color: #ffffff;
  opacity: 0.9;
  text-align: center;

}
.main-footer p {
  font-size: 21px;
  line-height: 26px;
}

.social-button {
  color: #000000;
}
.footer-copyright {
    font-weight: normal;
}

.footer-copyright .site-button:hover,
.footer-copyright .site-button:focus {
  color: #000000;
}

/* Внутренняя страница */
.search-hotel-inner img {
  position: relative;
  width: 100%;
}
.form-search-hotel  {
  position: absolute;
    top: 250px;
    /*left: 0;*/
    /*width: 100%;*/
    width: 1200px;
}
.form-list-title {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.form-search-hotel label {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.form-search-hotel input[type="text"] {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;

  width: 222px;
  height: 36px;
}
.white-line button {
  background: none;
  border: none;
}
.form-search-hotel label {
  font-weight: normal;
}
.button-range-min,
.button-range-max {
  background: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-position: right bottom; /* Положение фона */
  width: 20px;
  height: 23px;

}

.button-show-result {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: normal;

  background-color: transparent;
  border: 2px solid #ffffff;

  width: 137px;
  height: 36px;
}
.button-show-result:hover{
  color: #000000;
  background-color: #ffffff;
}

.sort-list-title {
  font-size: 21px;
  line-height: 26px;
}
.sort-type {
  font-size: 12px;
  line-height: 18px;
}
.sort-list a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dashed #81b3d2;
}
.sort-list a:active {
  color: #81b3d2;
  border-bottom: none;
}
.sort-list a:hover {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}
.sort-list a:focus {
  color: #231f20;
  border-bottom: none;
}

.sort button {
  background: none;
  border: none;
}

.sort{
  margin-left:72px;
  margin-right:72px;
}

.results-hotels p {
  font-weight: normal;
}
.hotel-name {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.block-hotel p {
  font-size: 14px;
  line-height: 21px;
}
.hotel-name:hover {
  color: #81b3d2;
}
.hotel-name:focus {
  color: rgba(0, 0, 0, 0.3);
}
.detail {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;

  background-color: #81b3d2;
  width: 110px;
  height: 27px;
  border: none;
  text-align: center;
  margin-right: 6px;
}

.detail:hover {
  background-color: #669ec0;
}
.detail:focus {
  background-color: #5496bd;

  color: rgba(255, 255, 255, 0.3);
}

.booking {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;

  background-color: #766357;
  width: 142px;
  height: 27px;
  border: none;
}
.booking:hover {
  background-color: #604e43;
}
.booking:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.raiting-value {
  text-align: center;
	width: 110px;
	height: 27px;
	background-color: #f2f2f2;

  color: #666666;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  vertical-align: middle;
}

.results{
  background-color: white;
  margin-left:72px;
  margin-right: 72px;
}
/* ----- Сеточные стили ----- */

/*body {

  background-image: url('img/sedona-index-1200.jpg');
  background-repeat: no-repeat;
}
*/
.main-navigation {
  display: flex;
  align-items: center;
  height: 56px;
}

.main-header {
  width: 1200px;
  margin: 0 auto;
}

.main-header-logo {
  width: 138px;
  height: 70px;

  order: 2;
  position: absolute;
  left: 50%;
  margin-left: -69px;
  z-index: 1;
}
.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
flex-direction: column;
  list-style: none;
  height: 56px;
  width: 1200px;
  margin: 0;
  padding: 0;

}
.main-navigation-wrapper {
  width: 100%;
  height: 56px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 72px;
}
.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}
.reason-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}
.reason-item-full {
  width: 1200px;
  height: 256px;

}

.reason-item-full h3 {
  width: 165px;
  height: 55px;

  padding-top: 49px;

}
.reason-item-full p {
  width: 281px;
  height: 50px;

  padding-bottom: 60px;
}
.reason-item-full span {
  display: block;
  width: 50px;
  height: 40px;

  padding-top: 115px;
  padding-left: 40px;
}
.reason-item {
  width: 400px;
  height: 256px;
}
.recomendation-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}
.recomendation-item {
  width: 400px;
  height: 330px;

}
.main-footer {
  padding: 36px 0;

  height: 120px;
  background-color: #ffffff;
  opacity: 0.9;
}
.main-footer .container {
  display: flex;
  justify-content: space-between;
}
.footer-social {
  width: 400px;

  padding-right: 6px;
  margin-right: 88px;
}

.footer-copyright {
  margin-right: 88px;
  margin-left: auto;
  width: 240px;
}
.footer-hashtag {
  margin-right: 88px;

  width: 240px;
}
/* ----- Сеточные стили внутренняя страница ----- */
.form-search-hotel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;

}
.form-search-hotel .container-infrastructure, .container-housingtype, .container-costs {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}

.form-search-hotel .container-infrastructure{
  margin-left: 72px;
  width:240px;
}
.form-search-hotel .container-costs {
  display: flex;
  width: 528px;
  margin-right: 72px;
  align-items:flex-end;
}

.form-search-hotel p{
  width: 200px;
  display: block;
  padding: 0;
}
.form-search-hotel ul {
  width: 200px;
  display: block;
  padding: 0;
}
.cost-selector{
  display: flex;
  flex-direction:row;
}

.cost label{
  position: absolute;
  top:62px;
}
.sort-list{
  display: block;
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 1056px;
  height: 87px;
  padding: 0;
  margin: 0 auto;

  background-color: #ffffff;
}

.sort-list-title {
  padding: 0px;
  margin-left: 0;
}

.block-hotel h3{
  display: block;

  padding-left: 30px;

}
.block-hotel p{
  display: block;
  padding-left: 30px;
}
.results-hotels {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;

  padding-top: 30px;

}
.container-price {
  display: flex;
  flex-direction:row;
}
